/*Name: Willson Ayotte
Date: Aug 19th, 2012
Document: CSS for Apartment Application
Decription: For VFW 1208
*/

html {
    background-color: darkblue;
}
body {
    font-family: "Lucida Grande", "Arial", sans-serif;
    margin: 10px auto;
    padding: 24px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#000));
    color: #4D4B39;
    max-width: 260px;
    border: 8px solid lightblue;
    line-height: 20px;
}

h1 {
    background: -webkit-gradient(linear, left top, right bottom, from(#0b88cb), to(#004068));
    color: lightblue;
    font-size: 145%;/*font size in percent*/
    text-shadow: 2px 2px #000000;
    text-align: center;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 10px;/*how much space around text on all sides*/
    margin: -25px -24px 25px -24px; /*(x)top , (x)left , (x)bottom , (x)right*/
    
}

h2 {
    background: -webkit-gradient(linear, left top, right bottom, from(#0b88cb), to(#004068));
    color: lightblue;
    font-size: 125%;/*font size in percent*/
    text-shadow: 2px 2px #000000;
    text-align: center;
    border-radius: 10px;
    padding: 10px;/*how much space around text on all sides*/
    margin: 20px -0px 25px -5px; /*(x)top , (x)right , (x)bottom , (x)left*/
}

p {
    color: gold;
    font-weight: bold;
    text-align: center;
}

#p1{
    color:red;
    font-size: 22px;
    position:relative;
    left: 33px;
    bottom: 115px;
}

#search{
    margin-top: -100px;
    margin-bottom: 20px;
    position:relative;
    bottom: -7px;
}

/*secound page*/
span{
   color: red;
}

/*secound page*/
#range { 
  position: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#999999));
  background-image: -webkit-linear-gradient(top, #444444, #999999);
  width: 40px; 
  height: 30px; 
  text-align: center; 
  color: white; 
  border-radius: 10px; 
  display: inline-block; 
  font: bold 15px/30px Georgia;
  bottom: 175%;
  left: 0;
  margin-left: 10px;
}

/*secound page*/
#apartmentFieldset{
    background-color: lightgrey;
    border-radius: 10px;

}

/*secound page*/
legend{
    background: -webkit-gradient(linear, left top, right bottom, from(#0b88cb), to(#004068));
    color: lightblue;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    text-shadow: 2px 2px #000000;
    border-radius: 5px;
}

ul {
    list-style-type: none;
}

li {
    margin-left: -40px;
}

/*secound page*/
label {
    display: block;
    color: black;
}

/*secound page*/
select {
    font-size: 14px;
}

input {
    font-size: 14px;
    width: 200px;
}



input:focus, 
textarea:focus, 
#date:focus {
background-color: gold;
}

/*secound page*/
#aptType{
    width: 215px;
}

/*secound page*/
#condition{
    width: 145px;
}

/*secound page*/
textarea {
    font-size: 14px;
    width: 210px;
    height: 100px;
}


div {
    background: -webkit-gradient(linear, left top, right bottom, from(white), to(white));
    border-radius: 10px;
    padding-left: 5px;
}

div ul {
    border-bottom: solid black 1px;
    /*Play with this<<<<<<<<<<<<<<<<<<<<<<<<<*/
}

#items{
    color: #004068;
}


nav {
    display: inline;
    text-align: center;   
}

div.container {
background: #d3d3d3;
text-shadow: 1px 1px #000000;
}

div.browseApartments {
    background :#d3d3d3;
    width:250px; 
    height:245px;
}

/*secound page*/
.errormsg{
    color: red;
}

#link1{
    background: -webkit-gradient(linear, center top, center bottom, from(#0b88cb), to(#004068));
    width: 120px;
    height: 35px;
    font-weight: bold;
    font: 40px;
    letter-spacing: 2px;
    color: lightblue;
    text-shadow: 2px 2px #000000;
    border-radius: 10px;
    box-shadow: 
    0 1px 2px #fff, 
    0 -1px 1px #666, 
    inset 0 -1px 1px rgba(0,0,0,0.5), 
    inset 0 1px 1px rgba(255,255,255,0.8);
    position:relative;
    left: 100px;
    bottom: 125px;
}

ul button {
    background: -webkit-gradient(linear, center top, center bottom, from(#0b88cb), to(#004068));
    /*width: 0px;*/
    padding: 0px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    color: lightblue;
    text-shadow: 2px 2px #000000;
    border-radius: 10px;
    box-shadow: 
    0 1px 2px #fff, 
    0 -1px 1px #666, 
    inset 0 -1px 1px rgba(0,0,0,0.5), 
    inset 0 1px 1px rgba(255,255,255,0.8);
    /*position:relative;
    left:-38px;
    bottom:10px;*/
}

/*Submit the infromation in the data fields.*//*Secound Page.*/
input[type="submit"] {
    background: -webkit-gradient(linear, center top, center bottom, from(#0b88cb), to(#004068));
    width: 255px;
    padding: 9px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    color: lightblue;
    text-shadow: 2px 2px #000000;
    border-radius: 10px;
    box-shadow: 
    0 1px 2px #fff, 
    0 -1px 1px #666, 
    inset 0 -1px 1px rgba(0,0,0,0.5), 
    inset 0 1px 1px rgba(255,255,255,0.8); 
}

/*Search Submit Button*//*First Page*/
input[type="button"] {
    background: -webkit-gradient(linear, center top, center bottom, from(#0b88cb), to(#004068));
    width: 100px;
    height: 30px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: bold;
    letter-spacing: 2px;
    color: lightblue;
    text-shadow: 2px 2px #000000;
    border-radius: 10px;
    box-shadow: 
    0 1px 2px #fff, 
    0 -1px 1px #666, 
    inset 0 -1px 1px rgba(0,0,0,0.5), 
    inset 0 1px 1px rgba(255,255,255,0.8); 
}

/*copywrite*//*secound page*/
#copyWright{color:lightblue;}