/*Name: Willson Ayotte
Date: Aug 30th, 2012
Document: CSS for Apartment Application
Decription: For MIU 1209
*/

label.error{
	display: block;
	margin: 10px 0;
	color:#cc0000;
}

#apartmenterrorslink{
	display: none;
}

ul li {
	list-style-type: none;
}

ul {
	background-color: lightgrey;
	border-bottom: solid black 1px;
	padding: 10px;
}

#addnew{
	display: none;
}
