/*Name: Willson Ayotte
Date: Aug 30th, 2012
Document: CSS for Apartment Application
Decription: For MIU 1209
*/

label.error{
	display: block;
	margin: 10px 0;
	color:#cc0000;
}

#apartmenterrorslink{
	display: none;
}

ul li {
	list-style-type: none;
}

ul {
	background: url(background1.png);
	background-position: left bottom;
    background-size: 100% 100%;
    background-repeat: no-repeat;
	color: white;
	padding: 10px;
	margin-bottom: 30px;
	margin-top: -10px;
	font-weight: bold;
}

ul li button{
	background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(45,45,45,1) 100%);
	color: lightgrey;
	border-radius: 20px;
	font-size: 12px;
	width: 130px;
	height: 25px
}

#logo{
	padding-top: 5px;
	background: center;
	max-width: 320px;
	padding-bottom: -100px;
}

#hbgimg {
	background: url(background1.png);
	background-position: left bottom;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    max-width: 320px;
	color: white;
}

#additem {
	background: url(background1.png);
	background-position: left bottom;
    background-size: 100% 100%;
    background-repeat: no-repeat;
	color: white;
}

#supera{
	background: url(background1.png);
	background-position: left bottom;
    background-size: 100% 100%;
    background-repeat: no-repeat;
	color: white;
}

#abouta{
	background: url(background1.png);
	background-position: left bottom;
    background-size: 100% 100%;
    background-repeat: no-repeat;
	color: white;
}

#vaa{
	background: url(background1.png);
	background-position: left bottom;
    background-size: 100% 100%;
    background-repeat: no-repeat;
	color: white;
}

#vra{
	background: url(background1.png);
	background-position: left bottom;
    background-size: 100% 100%;
    background-repeat: no-repeat;
	color: white;
}

#naa{
	background: url(background1.png);
	background-position: left bottom;
    background-size: 100% 100%;
    background-repeat: no-repeat;
	color: white;
}

#foottext{
	text-align: center;
	font-weight: bold;
}

#addfooter{
	background: black;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

button {
	display: block;
	font-weight: bold;
	text-align: center;
	float:left;
	margin-bottom: 30px;
	margin-top: 10px;
	margin-right: 10px;
}